@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
    --color0: hsl(256, 26%, 20%);
    --color1: hsl(216, 30%, 68%);
    --color2: hsl(270, 9%, 17%);
    --color3: hsl(273, 4%, 51%);
    --color4: hsl(0, 0%, 98%);

    --headingsfont: 'DM Serif Display', serif;
    --bodyfont: 'Karla', sans-serif;

    --fontweight0: 400;
    --fontweight1: 700;
}

* {
    margin: 0;
    padding: 0;
}

/* HEADER AND MENU OPTIONS */

header {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--bodyfont);
    font-weight: var(--fontweight1);
    font-size: 12px;
    height: 8vh;
    padding: 6px;
    width: 100%;
}

nav img {
    margin-right: 260px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 1px;
    margin-left: 15px;
    padding: 10px;
}

.nav-list li a {
    color: var(--color3);
    text-decoration: none;
}

#btn {
    border: 2px solid black;
    padding: 10px 20px;
    margin-left: 25px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

/* FIRST SECTION AND INTRODUCING COMPONENTS */

section.intro {
    background-color: var(--color0);
    width: 100%;
    height: 80vh;
    margin-bottom: 320px;
}

.intro-container {
    font-family: var(--bodyfont);
    color: var(--color4);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1180px;
    width: 100%;
    margin: auto;
}

.intro-content {
    max-width: 600px;
    width: 100%;
    margin-bottom: 185px;
}

.intro-content h1 {
    font-family: var(--headingsfont);
    font-weight: var(--fontweight0);
    font-size: 59.3pt;
    line-height: 4.3rem;
    margin-top: 60px;
    max-width: 600px;
    width: 100%;
}

.intro-content p {
    line-height: 1.6em;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 12pt;
    max-width: 540px;
    width: 100%;
}

.intro-btn {
    text-decoration: none;
    border: solid 2px var(--color4);
    color: var(--color4);
    padding: 10px 20px;
}

.intro-img img {
    margin-top: 100px;
    width: 100%;
}

/* CARDS ABOUR THE COMPANY DIFFERENCIALS */

.cards {
    background-color: yellow;
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1150px;
}

.image {
    margin-bottom: 15px;
}

.title {
    font-family: var(--headingsfont);
    font-weight: 400;
    font-size: 16pt;
    margin-bottom: 15px;
}

.text {
    font-family: var(--bodyfont);
    color: var(--color3);
    line-height: 1.5em;
}

/* SECTION WITH ADVERTISEMENT ABOUT HOW THE COMPANY WORKS */

.how-we-work {
    margin-top: 150px;
    margin-bottom: 150px;
}

.work-container {
    font-family: var(--headingsfont);
    font-weight: var(--fontweight1);
    color: var(--color4);
    background-color: var(--color0);
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1150px;
    height: 28vh;
}

.work-container a {
    text-decoration: none;
    color: var(--color4);
}

/* RODAPÉ COM OPÇÕES DE MENU */

.logo-networks {
    display: flex;
    background-color: var(--color1);
    justify-content: center;
    margin: auto;
}

@media (min-width: 320px) and (max-width: 768px) {   
    header {
        width: 100%;
        display: flex;
        margin: auto;
    }

    nav {
        display: flex;
        align-items: center;
        padding: 0;
    }

    nav img {
        margin: 0;
    }

    .mobile-menu {
        display: flex;
    }

    .nav-list {
        display: none;
    }
    
    .intro-container {
        display: flex;
        flex-direction: column-reverse;
        background-color: white;
    }

    .intro-content {
        background-color: var(--color0);
    }
    
    .intro-img img {
        width: 100%;
        margin: 0;
    }

    .cards {
        margin-top: 650px;
    }
}